

.App header {
  display: flex;
  justify-content: flex-end;
  color: white;
  /* animation: 0.3s ease-out 0s 1 slideInFromTop; */
}

.App header button {
  font-size: 1.6rem;
}

.languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(160px, auto);
  grid-gap: 2px;
}

.ui-card {
  background: #C6FFDD;  /* fallback for old browsers */
  background: linear-gradient(45deg, #f7797d, #FBD786, #C6FFDD);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-out;
  position: relative;
}

.check {
  position: absolute;
  font-size: 1.7rem;
  left: 6px;
  top: 2px;
}

.ui-card h2, .ui-card h4 {
  text-align: center;
} 

.selected {
  opacity: 0.6;
}

.btn {
  font-size: 2.2rem;
  cursor: pointer;
}

@keyframes slideInFromTop {
  0% {
    /* opacity: 0; */
    height: 0;
    /* transform: translateX(-100%); */
  }
  100% {
    height: 2.2rem;
    /* opacity: 1; */
    /* transform: translateX(0); */
  }
}

